body {
  background: linear-gradient(135deg, #283f4b 50%, #104b87 100%);
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home {
  font-size: 2rem;
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 3rem;
  top: 3rem;
  background-color: rgb(152, 152, 188);
  border-radius: 50%;
}

h1 {
  letter-spacing: 3px;
  font-size: 3em;
  margin: 36px 0 20px 0;
  color: #f1d740;
  text-shadow: 0 4px 32px #221a01, 0 2px 8px #453b25;
}

#controls {
  margin-bottom: 18px;
}

button {
  margin: 0 10px;
  padding: 11px 32px;
  font-size: 17px;
  background: linear-gradient(45deg, #ed44ac 10%, #e56221 100%);
  border: none;
  color: #fff;
  border-radius: 22px;
  box-shadow: 0 2px 10px #4b3a05a0;
  transition: background 0.2s, transform 0.1s, box-shadow 0.2s;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}
button:hover {
  background: linear-gradient(55deg, #ed44ac 40%, #e56221 80%);
  transform: scale(1.01);
  box-shadow: 0 2px 12px #69510aa0;
}

#score {
  font-size: 28px;
  margin: 12px;
  letter-spacing: 2px;
  color: #eeeeee;
  text-shadow: 0 2px 9px #2c2c2c;
}

#winner {
  font-weight: 500;
  font-size: 40px;
  color: #f1d740;
  margin: 26px;
  text-shadow: 0 4px 18px #221a01, 0 2px 8px #453b25;
}

canvas {
  background: rgba(34, 34, 55, 0.85);
  display: block;
  margin: 24px auto 0 auto;
  border-radius: 20px;
  box-shadow: 0 8px 48px #140c2d88, 0 2px 12px #1e1e6e55;
  border: 2.5px solid #222;
  transition: box-shadow 0.35s;
}
